doctype html 
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Webpage-bookmarker
  body
    h1 Webpage-bookmarker
    p ログイン中: #{user}
    a(href="/logout") ログアウト
    form(action="/posts", method="post")
      div
        textarea(name="content" cols="40" rows="4")
      div
        h4 備考
        textarea(name="note" cols="40" rows="2")
      div
        button(type="submit") 送信
    h2 ページ一覧
    each post in posts
      - const isAuthenticated = (user === post.postedBy || user === 'admin')
      if isAuthenticated
        p #{post.postedBy}
        p 保存日時: #{post.createdAt}
        p #{post.content}
        p #{post.note}
        form(action="/posts/delete" method="post")
          input(type="hidden" name="id" value=post.id)
          button(type="submit") 削除
        hr